.grid {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1240px;
  max-height: 425px;
  min-height: 300px;
  min-width: 400px;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 9px;
  row-gap: 9px;
  background-color: white;
}

.flex {
  margin: 0 auto;
  width: 800px;
  display: flex;
  position: relative;
  align-content: center;
}

.container {
  margin: 20px;
}

.img {
  background-size: cover;
  background-position: center;
}

.img:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.img1in5, .img1in4, .img1in3, .img1in2 {
  composes: img;
  grid-area: 1 / 1 / span 2 / span 2;
  border-radius: 10px 0 0 10px;
}

.img1in1 {
  composes: img;
  grid-area: 1 / 1 / span 4 / span 4;
  border-radius: 10px;
}

.img2in2 {
  composes: img;
  grid-area: 1 / 3 / span 2 / span 2;
  border-radius: 0 10px 10px 0;
}

.img2in4, .img2in3 {
  composes:img;
  grid-area: 1 / 3 / span 1 / span 2;
  border-radius: 0 10px 0 0;
}

.img2in5 {
  composes: img;
  grid-area: 1 / 3 / span 1 / span 1;
}

.img3in5 {
  composes: img;
  grid-area: 1 / 4 / span 1 / span 1;
  border-radius: 0 10px 0 0;
}

.img4in5 {
  composes: img;
  grid-area: 2 / 3 / span 1 / span 1;
}

.img5in5, .img4in4 {
  composes: img;
  grid-area: 2 / 4 / span 1 / span 1;
  border-radius: 0 0 10px 0;
}

.showAll {
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  right: 30px;
  background-color: white;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.showAll:active {
  animation: scale 500ms ease;
}

@keyframes scale {
  to {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 700px) {
  .flex {
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .flex {
    width: 770px;
  }
}

@media screen and (min-width: 1000px) {
  .flex {
    width: 950px;
  }
  .grid {
    height: 800px;
  }
}

@media screen and (min-width: 1050px) {
  .flex {
    width: 1000px;
  }
  .grid {
    height: 600px;
  }
}

@media screen and (min-width: 1100px) {
  .flex {
    width: 1150px;
  }
  .grid {
    height: 350px;
  }
}
