.modal {
  visibility: visible;
  transform: scale(1);
  transition: 0.4s ease;
  opacity: 1;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

.off {
  composes: modal;
  opacity: 0;
  filter: blur(2px);
  visibility: hidden;
  height: 0;
  top: 100%;
}

.button {
  background-color: white;
  visibility: visible;
}